@import url('https://fonts.googleapis.com/css?family=Oxygen');

.fill {
  height: calc(100vh - 57px);
}

.sidebar {
  overflow-y: auto;
}

.long-main {
  overflow-y: auto;
}

body {
  font-family: 'Oxygen', sans-serif;
}
